.productItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.item {
  max-width: 300px;
  height: auto;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--primary-color-light);
  border-radius: 10px;
  justify-items: center;
}

.item img {
    max-width: 280px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
