:root {
  --text-color: #07000A;
  --background-color: #ECE5F0;
  --primary-color: #582A72;
  --primary-color-light: #916DA5;
  --primary-color-dark: #2A053E;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}

nav {
  font-weight: bold;
  color: var(--background-color);
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
}

main {
  padding: 30px;
}

h1 {
  font-size: 3rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--background-color);
}

a.active {
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

nav button {
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px 20px;
  border: none;
}

.quantityCart {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--background-color);
  background-color: var(--primary-color);
  padding: 10px;
  max-width: 30px;
  border-radius: 30px;
}
